.big-side-bar{
    margin-top: -3.5%;
    position: relative;
}

.home-img{
    margin-bottom: 40%;
    margin-top: -40%;
}

.friends-div{
    margin-top: 20%;
}

.welcome-flagship{
    margin-top: 10%;
}

.login-logo{
    margin-left: 28%;
}

.logo-init-page{
    margin-left: 200%;
    margin-top: -100%;
}

.chatroom-div{
    margin-left: 150%;
    margin-top: -120%;
}