.big-side-bar{
    margin-top: -3.5%;
    position: relative;
}

.home-img{
    margin-bottom: 40%;
    margin-top: -40%;
}

.chats-div{
    margin-top: 40%;
}

.welcome-flagship{
    margin-top: 10%;
}

.login-logo{
    margin-left: 28%;
}

.logo-init-page{
    /* margin-left: 200%; */
    opacity: 20%;
    /* margin-top: -50%; */
    /* z-index: auto; */
}

.chatroom-div{
    /* left:  110px; */
    position: relative;
    /* top: -10px; */
}

.searchbar{
    margin-top: -10%;
    position: absolute;
}
.submit-button{
    position: relative;
    left: 20%;
    bottom: 30px;
}

.add-button{
    position: fixed;
    margin-left: 10%;
    margin-top: -3%;
}