.big-side-bar{
    margin-top: -3.5%;
    position: relative;
}

.home-img{
    margin-bottom: 40%;
    margin-top: -40%;
}

.friends-div{
    margin-top: 20%;
}

.welcome-flagship{
    margin-top: 10%;
}

.login-logo{
    margin-left: 28%;
}

.logo-init-page{
    margin-left: 200%;
    opacity: 20%;
    margin-top: -50%;
    z-index: auto;
}

.messages-div{
    /* position: relative; */
    margin-left:  200%;
    margin-top: 40%;
}